## Create Game Tables

In [2]:
import json
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=Warning)

In [2]:
species = pd.read_csv("speciesDB_full.csv")

In [29]:
species.head()

,class_x,family_x,genus_x,id,kingdom_x,name,order_x,phylum_x,supercategory,dir18,...,Scientific Name,Synonyms,Common Name,Occurrence,Occurrence Tags,Abundance,Nativeness,Nativeness Tags,marine,label
0,Polychaeta,Amphinomidae,Hermodice,0.0,Animalia,Hermodice carunculata,Phyllodocida,Annelida,Animalia,train_val2018/Animalia/0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Bearded fireworm
1,Polychaeta,Sabellariidae,Phragmatopoma,1.0,Animalia,Phragmatopoma californica,Sabellida,Annelida,Animalia,train_val2018/Animalia/1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Phragmatopoma californica
2,Polychaeta,Sabellidae,Eudistylia,2.0,Animalia,Eudistylia vancouveri,Sabellida,Annelida,Animalia,train_val2018/Animalia/2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Eudistylia vancouveri
3,Polychaeta,Serpulidae,Galeolaria,3.0,Animalia,Galeolaria hystrix,Sabellida,Annelida,Animalia,train_val2018/Animalia/3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Galeolaria hystrix
4,Polychaeta,Serpulidae,Serpula,4.0,Animalia,Serpula columbiana,Sabellida,Annelida,Animalia,train_val2018/Animalia/4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Serpula columbiana

In [4]:
species_map = {"Corvus Corax": ("Raven", (212, 3278)),
"Sceloporus Occidentalis": ("Western Fence Lizard", (165, 4436)),
"Quercus Kelloggii": ("Black Oak", (657, 6851)),
"Cornus Nuttallii": ("Pacific Dogwood", (442, None)),
"Asclepias Speciosa": ("Milkweed", (568, 6904)),
"Pinus Ponderosa": ("Ponderosa Pine", (981, 7963)),
"Castilleja Miniata": ("Giant Red Paintbrush", (736, None)),
"Toxicodendron Diversilobum": ("Poison Oak", (None, 7741)),
"Odocoileus Hemionus": ("Mule Deer", (None, 4068)),
"Sequoiadendron Giganteum":("Redwood Tree", (None, 7935) ),
"Sarcodes Sanguinea": ("Snowplant", (None, 6607)),
"Calocedrus Decurrens":("California Incense Cedar", (None,7920)),
"Eschscholzia Californica": ("California Poppy", (None, 7512)),
"Juniperus Occidentalis": ("Western Juniper", (None, 7930)),
"Pinus Albicaulis": ("White Bark Pine", (None,7949)),
"Pinus Sabiniana": ("Digger Pine", (None,7966)),
"Quercus Lobata": ("Valley Oak", (None, 6853)),
"Pinus Attenuata": ("Knobcone Pine", (None,7950)),
"Aesculus Californica": ("California Buckeye", (None,7767)),
"Umbellularia Californica": ("California Laurel", (None,7246)),
"Torreya Californica": ("California Nutmeg", (None,7979)),
"Pseudotsuga Menziesii": ("Douglas Fir", (None,7971)),
"Acer Macrophyllum": ("Broadleaf Maple", (None,7757)),
"Populus Tremuloides": ("Quaking Aspen", (None,7330))
}

In [12]:
og_list =[]
for key in species_map:
    og_list.append(key.split()[0]+" "+key.split()[1].lower())

In [13]:
og_list

['Corvus corax',
 'Sceloporus occidentalis',
 'Quercus kelloggii',
 'Cornus nuttallii',
 'Asclepias speciosa',
 'Pinus ponderosa',
 'Castilleja miniata',
 'Toxicodendron diversilobum',
 'Odocoileus hemionus',
 'Sequoiadendron giganteum',
 'Sarcodes sanguinea',
 'Calocedrus decurrens',
 'Eschscholzia californica',
 'Juniperus occidentalis',
 'Pinus albicaulis',
 'Pinus sabiniana',
 'Quercus lobata',
 'Pinus attenuata',
 'Aesculus californica',
 'Umbellularia californica',
 'Torreya californica',
 'Pseudotsuga menziesii',
 'Acer macrophyllum',
 'Populus tremuloides']

In [16]:
ogdf = pd.DataFrame(og_list, columns=["name"])

In [18]:
merged = pd.merge(ogdf,species, how="inner", left_on="name", right_on="name")

In [19]:
merged.columns

Index(['name', 'class_x', 'family_x', 'genus_x', 'id', 'kingdom_x', 'order_x',
       'phylum_x', 'supercategory', 'dir18', 'order_y', 'dir19', 'commonname',
       'yose_score', 'yose_join', 'Scientific Name', 'Synonyms', 'Common Name',
       'Occurrence', 'Occurrence Tags', 'Abundance', 'Nativeness',
       'Nativeness Tags', 'marine', 'label'],
      dtype='object')

In [56]:
merged.head()

,name,class_x,family_x,genus_x,id,kingdom_x,order_x,phylum_x,supercategory,dir18,...,Scientific Name,Synonyms,Common Name,Occurrence,Occurrence Tags,Abundance,Nativeness,Nativeness Tags,marine,label
0,Corvus corax,Aves,Corvidae,Corvus,3278.0,Animalia,Passeriformes,Chordata,Aves,train_val2018/Aves/3278,...,Corvus corax,NaN,common raven,Present,NaN,Abundant,Unknown,NaN,NaN,Common Raven
1,Sceloporus occidentalis,Reptilia,Phrynosomatidae,Sceloporus,4436.0,Animalia,Squamata,Chordata,Reptilia,train_val2018/Reptilia/4436,...,Sceloporus occidentalis,"Sceloporus occidentalis biseriatus (118745),Sc...",Western Fence Lizard,Present,NaN,Common,Native,NaN,NaN,Pacific Blue bellied Lizard
2,Quercus kelloggii,Magnoliopsida,Fagaceae,Quercus,6851.0,Plantae,Fagales,Magnoliophyta,Plantae,train_val2018/Plantae/6851,...,Quercus kelloggii,NaN,California black oak,Present,NaN,Common,Native,NaN,NaN,California black oak
3,Cornus nuttallii,Magnoliopsida,Cornaceae,Cornus,NaN,Plantae,Cornales,Tracheophyta,NaN,NaN,...,Cornus nuttallii,NaN,Pacific dogwood,Present,NaN,Common,Native,NaN,NaN,Pacific dogwood
4,Asclepias speciosa,Magnoliopsida,Apocynaceae,Asclepias,6904.0,Plantae,Gentianales,Magnoliophyta,Plantae,train_val2018/Plantae/6904,...,Asclepias speciosa,NaN,showy milkweed,Present,NaN,Common,Native,NaN,NaN,Showy milkweed

In [78]:
game_subset = merged[['name','class_x','family_x', 'genus_x','Abundance', 'Nativeness', 'label']]

### Format game data
- recode abundance
- add species (split from name)
- change column names to match Odyssee table

In [32]:
species['Abundance'].unique()

array([nan, 'Rare', 'Unknown', 'Common', 'Uncommon', 'Occasional',
       'Abundant'], dtype=object)

In [41]:
species.loc[(species['Abundance']=="Unknown"),"Abundance"]="Rare"

In [43]:
species.loc[(species['Abundance'].isnull()),"Abundance"]="Rare"

In [44]:
species['Abundance'].unique()

array(['Rare', 'Common', 'Uncommon', 'Occasional', 'Abundant'],
      dtype=object)

In [46]:
score_map = {'Rare':10,'Uncommon':7,'Common':5, 'Occasional':3, 'Abundant':1}

In [47]:
score_map.keys()

dict_keys(['Rare', 'Uncommon', 'Common', 'Occasional', 'Abundant'])

In [48]:
#match these column names
Odyssee_columns = ["HuntName","ItemClass","Genus","Species","Description",
                   "Hints","GPSCoordLat","GPSCoordLong","Image",
                   "MinAltitude","MaxAltitude","StartDate","EndDate",
                   "RarityScore","DifficultyLevel","Endemic?","Scavenger?",
                   "Predator?","Decomposer?","CarbonHungry?","Flowering?"]

In [79]:
game_subset['RarityScore'] = game_subset['Abundance'].map(score_map)

In [80]:
game_subset['Species'] = game_subset['name'].apply(lambda x: x.split()[1])

In [81]:
game_subset['Endemic?'] = game_subset['Nativeness'].map({"Unknown":0,"Native":1})

In [82]:
game_subset['HuntName'] = game_subset["label"]

In [83]:
# min diff level
diff_map = {1:"Easy",3:"Easy",5:"Med",7:"Med", 9:"Hard"}
game_subset["DifficultyLevel"] = game_subset["RarityScore"].map(diff_map)

In [84]:
game_subset.columns

Index(['name', 'class_x', 'family_x', 'genus_x', 'Abundance', 'Nativeness',
       'label', 'RarityScore', 'Species', 'Endemic?', 'HuntName',
       'DifficultyLevel'],
      dtype='object')

In [87]:
game_subset.rename(columns={'class_x': 'ItemClass','family_x':'Family','genus_x':'Genus','species_x':'Species'}, inplace=True)

In [90]:
game_subset2 = game_subset[['HuntName', 'ItemClass', 'Genus', 'Species','Abundance', 'RarityScore','DifficultyLevel', 'Endemic?']]

In [91]:
game_subset2.to_csv("game_table_new.csv")

### Export complete game data to json
Features added to data
- Label Number
- Hints
- Descriptions
- One-hot characteristics for items

In [7]:
game_df = pd.read_csv("game_table.csv")

In [11]:
with open("game.json","w") as file:
    file.write(str(game_df.to_dict()))

In [13]:
with open("game_recordoriented.json","w") as file:
    file.write(str(game_df.to_json(orient="records")))