## Create Game Tables

In [1]:
import json
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=Warning)

In [2]:
species = pd.read_csv("speciesDB_full.csv")

In [3]:
species.head()

,class_x,family_x,genus_x,id,kingdom_x,name,order_x,phylum_x,supercategory,dir18,...,Scientific Name,Synonyms,Common Name,Occurrence,Occurrence Tags,Abundance,Nativeness,Nativeness Tags,marine,label
0,Polychaeta,Amphinomidae,Hermodice,0.0,Animalia,Hermodice carunculata,Phyllodocida,Annelida,Animalia,train_val2018/Animalia/0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Bearded fireworm
1,Polychaeta,Sabellariidae,Phragmatopoma,1.0,Animalia,Phragmatopoma californica,Sabellida,Annelida,Animalia,train_val2018/Animalia/1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Phragmatopoma californica
2,Polychaeta,Sabellidae,Eudistylia,2.0,Animalia,Eudistylia vancouveri,Sabellida,Annelida,Animalia,train_val2018/Animalia/2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Eudistylia vancouveri
3,Polychaeta,Serpulidae,Galeolaria,3.0,Animalia,Galeolaria hystrix,Sabellida,Annelida,Animalia,train_val2018/Animalia/3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Galeolaria hystrix
4,Polychaeta,Serpulidae,Serpula,4.0,Animalia,Serpula columbiana,Sabellida,Annelida,Animalia,train_val2018/Animalia/4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Serpula columbiana

In [4]:
species_map = {"Corvus Corax": ("Raven", (212, 3278)),
"Sceloporus Occidentalis": ("Western Fence Lizard", (165, 4436)),
"Quercus Kelloggii": ("Black Oak", (657, 6851)),
"Cornus Nuttallii": ("Pacific Dogwood", (442, None)),
"Asclepias Speciosa": ("Milkweed", (568, 6904)),
"Pinus Ponderosa": ("Ponderosa Pine", (981, 7963)),
"Castilleja Miniata": ("Giant Red Paintbrush", (736, None)),
"Toxicodendron Diversilobum": ("Poison Oak", (None, 7741)),
"Odocoileus Hemionus": ("Mule Deer", (None, 4068)),
"Sequoiadendron Giganteum":("Redwood Tree", (None, 7935) ),
"Sarcodes Sanguinea": ("Snowplant", (None, 6607)),
"Calocedrus Decurrens":("California Incense Cedar", (None,7920)),
"Eschscholzia Californica": ("California Poppy", (None, 7512)),
"Juniperus Occidentalis": ("Western Juniper", (None, 7930)),
"Pinus Albicaulis": ("White Bark Pine", (None,7949)),
"Pinus Sabiniana": ("Digger Pine", (None,7966)),
"Quercus Lobata": ("Valley Oak", (None, 6853)),
"Pinus Attenuata": ("Knobcone Pine", (None,7950)),
"Aesculus Californica": ("California Buckeye", (None,7767)),
"Umbellularia Californica": ("California Laurel", (None,7246)),
"Torreya Californica": ("California Nutmeg", (None,7979)),
"Pseudotsuga Menziesii": ("Douglas Fir", (None,7971)),
"Acer Macrophyllum": ("Broadleaf Maple", (None,7757)),
"Populus Tremuloides": ("Quaking Aspen", (None,7330))
}

In [12]:
og_list =[]
for key in species_map:
    og_list.append(key.split()[0]+" "+key.split()[1].lower())

In [13]:
og_list

['Corvus corax',
 'Sceloporus occidentalis',
 'Quercus kelloggii',
 'Cornus nuttallii',
 'Asclepias speciosa',
 'Pinus ponderosa',
 'Castilleja miniata',
 'Toxicodendron diversilobum',
 'Odocoileus hemionus',
 'Sequoiadendron giganteum',
 'Sarcodes sanguinea',
 'Calocedrus decurrens',
 'Eschscholzia californica',
 'Juniperus occidentalis',
 'Pinus albicaulis',
 'Pinus sabiniana',
 'Quercus lobata',
 'Pinus attenuata',
 'Aesculus californica',
 'Umbellularia californica',
 'Torreya californica',
 'Pseudotsuga menziesii',
 'Acer macrophyllum',
 'Populus tremuloides']

In [16]:
ogdf = pd.DataFrame(og_list, columns=["name"])

In [18]:
merged = pd.merge(ogdf,species, how="inner", left_on="name", right_on="name")

In [19]:
merged.columns

Index(['name', 'class_x', 'family_x', 'genus_x', 'id', 'kingdom_x', 'order_x',
       'phylum_x', 'supercategory', 'dir18', 'order_y', 'dir19', 'commonname',
       'yose_score', 'yose_join', 'Scientific Name', 'Synonyms', 'Common Name',
       'Occurrence', 'Occurrence Tags', 'Abundance', 'Nativeness',
       'Nativeness Tags', 'marine', 'label'],
      dtype='object')

In [56]:
merged.head()

,name,class_x,family_x,genus_x,id,kingdom_x,order_x,phylum_x,supercategory,dir18,...,Scientific Name,Synonyms,Common Name,Occurrence,Occurrence Tags,Abundance,Nativeness,Nativeness Tags,marine,label
0,Corvus corax,Aves,Corvidae,Corvus,3278.0,Animalia,Passeriformes,Chordata,Aves,train_val2018/Aves/3278,...,Corvus corax,NaN,common raven,Present,NaN,Abundant,Unknown,NaN,NaN,Common Raven
1,Sceloporus occidentalis,Reptilia,Phrynosomatidae,Sceloporus,4436.0,Animalia,Squamata,Chordata,Reptilia,train_val2018/Reptilia/4436,...,Sceloporus occidentalis,"Sceloporus occidentalis biseriatus (118745),Sc...",Western Fence Lizard,Present,NaN,Common,Native,NaN,NaN,Pacific Blue bellied Lizard
2,Quercus kelloggii,Magnoliopsida,Fagaceae,Quercus,6851.0,Plantae,Fagales,Magnoliophyta,Plantae,train_val2018/Plantae/6851,...,Quercus kelloggii,NaN,California black oak,Present,NaN,Common,Native,NaN,NaN,California black oak
3,Cornus nuttallii,Magnoliopsida,Cornaceae,Cornus,NaN,Plantae,Cornales,Tracheophyta,NaN,NaN,...,Cornus nuttallii,NaN,Pacific dogwood,Present,NaN,Common,Native,NaN,NaN,Pacific dogwood
4,Asclepias speciosa,Magnoliopsida,Apocynaceae,Asclepias,6904.0,Plantae,Gentianales,Magnoliophyta,Plantae,train_val2018/Plantae/6904,...,Asclepias speciosa,NaN,showy milkweed,Present,NaN,Common,Native,NaN,NaN,Showy milkweed

In [78]:
game_subset = merged[['name','class_x','family_x', 'genus_x','Abundance', 'Nativeness', 'label']]

### Format game data
- recode abundance
- add species (split from name)
- change column names to match Odyssee table

In [32]:
species['Abundance'].unique()

array([nan, 'Rare', 'Unknown', 'Common', 'Uncommon', 'Occasional',
       'Abundant'], dtype=object)

In [41]:
species.loc[(species['Abundance']=="Unknown"),"Abundance"]="Rare"

In [43]:
species.loc[(species['Abundance'].isnull()),"Abundance"]="Rare"

In [44]:
species['Abundance'].unique()

array(['Rare', 'Common', 'Uncommon', 'Occasional', 'Abundant'],
      dtype=object)

In [46]:
score_map = {'Rare':10,'Uncommon':7,'Common':5, 'Occasional':3, 'Abundant':1}

In [47]:
score_map.keys()

dict_keys(['Rare', 'Uncommon', 'Common', 'Occasional', 'Abundant'])

In [48]:
#match these column names
Odyssee_columns = ["HuntName","ItemClass","Genus","Species","Description",
                   "Hints","GPSCoordLat","GPSCoordLong","Image",
                   "MinAltitude","MaxAltitude","StartDate","EndDate",
                   "RarityScore","DifficultyLevel","Endemic?","Scavenger?",
                   "Predator?","Decomposer?","CarbonHungry?","Flowering?"]

In [79]:
game_subset['RarityScore'] = game_subset['Abundance'].map(score_map)

In [80]:
game_subset['Species'] = game_subset['name'].apply(lambda x: x.split()[1])

In [81]:
game_subset['Endemic?'] = game_subset['Nativeness'].map({"Unknown":0,"Native":1})

In [82]:
game_subset['HuntName'] = game_subset["label"]

In [83]:
# min diff level
diff_map = {1:"Easy",3:"Easy",5:"Med",7:"Med", 9:"Hard"}
game_subset["DifficultyLevel"] = game_subset["RarityScore"].map(diff_map)

In [84]:
game_subset.columns

Index(['name', 'class_x', 'family_x', 'genus_x', 'Abundance', 'Nativeness',
       'label', 'RarityScore', 'Species', 'Endemic?', 'HuntName',
       'DifficultyLevel'],
      dtype='object')

In [87]:
game_subset.rename(columns={'class_x': 'ItemClass','family_x':'Family','genus_x':'Genus','species_x':'Species'}, inplace=True)

In [90]:
game_subset2 = game_subset[['HuntName', 'ItemClass', 'Genus', 'Species','Abundance', 'RarityScore','DifficultyLevel', 'Endemic?']]

In [91]:
game_subset2.to_csv("game_table_new.csv")

### Export complete game data to json
Features added to data
- Label Number
- Hints
- Descriptions
- One-hot characteristics for items

In [18]:
game_df = pd.read_csv("game_table.csv")

In [19]:
game_df.head()

,LabelNo,HuntName,Landmark?,ItemClass,Genus,Species,Genus_Species,Description,Hints,MinAltitude,MaxAltitude,Abundance,RarityScore,DifficultyLevel,Endemic?,Scavenger?,Predator?,Decomposer?,CarbonHungry?,Flowering?
0,0,Oregon Maple,0,Magnoliopsida,Acer,macrophyllum,Acer_Macrophyllum,This is the largest tree of all the maple spec...,If you're not in time to see this trees large ...,2500,5500,Common,5.0,Med,1.0,0.0,0.0,0.0,1.0,1.0
1,1,California buckeye,0,Magnoliopsida,Aesculus,californica,Aesculus_Californica,Young buckeye shoots were sometimes used as sp...,"A deciduous, small tree, normally growing to 1...",1500,5000,Uncommon,7.0,Med,1.0,0.0,0.0,0.0,1.0,1.0
2,2,Showy milkweed,0,Magnoliopsida,Asclepias,speciosa,Asclepias_Speciosa,The sap of showy milkweed was used by some des...,"Look in pastures, meadows, forest clearings, u...",0,6200,Common,5.0,Med,1.0,0.0,0.0,0.0,0.0,1.0
3,3,Incense cedar,0,Pinopsida,Calocedrus,decurrens,Calocedrus_Decurrens,Cedar is one of the most important Native Amer...,"Often confused with the sequoia, use your sens...",160,9510,Abundant,1.0,Easy,1.0,0.0,0.0,0.0,0.0,0.0
4,4,Great red paintbrush,0,Magnoliopsida,Castilleja,miniata,Castilleja_Miniata,"The flowers of Indian paintbrush are edible, a...",This parasitic plant grows up to 2.5 feet tall...,5000,15000,Common,5.0,Med,1.0,0.0,0.0,0.0,0.0,1.0

In [20]:
game_df["image"] = "gs://fir-classification.appspot.com/Rep_images"+\
                    "/"+\
                    game_df["Genus"]+"_"+\
                    game_df["Species"].apply(lambda x: str(x).capitalize())+".jpg"

In [21]:
with open("game.json","w") as file:
    file.write(str(game_df.to_dict()))

In [22]:
with open("game_recordoriented.json","w") as file:
    file.write(str(game_df.to_json(orient="records")))

In [2]:
!pip install firebase-admin

Requirement already satisfied: firebase-admin in c:\users\gjack\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: google-cloud-firestore>=1.4.0; platform_python_implementation != "PyPy" in c:\users\gjack\anaconda3\lib\site-packages (from firebase-admin) (1.6.2)
Requirement already satisfied: google-cloud-storage>=1.18.0 in c:\users\gjack\anaconda3\lib\site-packages (from firebase-admin) (1.26.0)
Requirement already satisfied: cachecontrol>=0.12.6 in c:\users\gjack\anaconda3\lib\site-packages (from firebase-admin) (0.12.6)
Requirement already satisfied: google-api-python-client>=1.7.8 in c:\users\gjack\anaconda3\lib\site-packages (from firebase-admin) (1.8.0)
Requirement already satisfied: google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy" in c:\users\gjack\anaconda3\lib\site-packages (from firebase-admin) (1.16.0)
Requirement already satisfied: pytz in c:\users\gjack\anaconda3\lib\site-packages (from google-cloud-firestore>=1.4.0; platform_python_implementation != "PyPy"->firebase-admin) (2019.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.3 in c:\users\gjack\anaconda3\lib\site-packages (from google-cloud-firestore>=1.4.0; platform_python_implementation != "PyPy"->firebase-admin) (1.3.0)
Requirement already satisfied: google-auth<2.0dev,>=1.11.0 in c:\users\gjack\anaconda3\lib\site-packages (from google-cloud-storage>=1.18.0->firebase-admin) (1.11.3)
Requirement already satisfied: google-resumable-media<0.6dev,>=0.5.0 in c:\users\gjack\anaconda3\lib\site-packages (from google-cloud-storage>=1.18.0->firebase-admin) (0.5.0)
Requirement already satisfied: msgpack>=0.5.2 in c:\users\gjack\anaconda3\lib\site-packages (from cachecontrol>=0.12.6->firebase-admin) (0.6.1)
Requirement already satisfied: requests in c:\users\gjack\anaconda3\lib\site-packages (from cachecontrol>=0.12.6->firebase-admin) (2.22.0)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in c:\users\gjack\anaconda3\lib\site-packages (from google-api-python-client>=1.7.8->firebase-admin) (0.0.3)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in c:\users\gjack\anaconda3\lib\site-packages (from google-api-python-client>=1.7.8->firebase-admin) (3.0.1)
Requirement already satisfied: httplib2<1dev,>=0.9.2 in c:\users\gjack\anaconda3\lib\site-packages (from google-api-python-client>=1.7.8->firebase-admin) (0.17.0)
Requirement already satisfied: six<2dev,>=1.6.1 in c:\users\gjack\anaconda3\lib\site-packages (from google-api-python-client>=1.7.8->firebase-admin) (1.12.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in c:\users\gjack\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy"->firebase-admin) (1.51.0)
Requirement already satisfied: setuptools>=34.0.0 in c:\users\gjack\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy"->firebase-admin) (41.0.1)
Requirement already satisfied: protobuf>=3.4.0 in c:\users\gjack\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy"->firebase-admin) (3.9.1)
Requirement already satisfied: grpcio<2.0dev,>=1.8.2; extra == "grpc" in c:\users\gjack\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy"->firebase-admin) (1.23.0)
Requirement already satisfied: rsa<4.1,>=3.1.4 in c:\users\gjack\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage>=1.18.0->firebase-admin) (4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\gjack\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage>=1.18.0->firebase-admin) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\gjack\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage>=1.18.0->firebase-admin) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gjack\anaconda3\lib\site-packages (from requests->cachecontrol>=0.12.6->firebase-admin) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\gjack\anaconda3\lib\site-packages (from requests->cachecontrol>=0.12.6->firebase-admin) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\gjack\anaconda3\lib\site-packages (from requests->cachecontrol>=0.12.6->firebase-admin) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\gjack\anaconda3\lib\site-packages (from requests->cachecontrol>=0.12.6->firebase-admin) (2.8)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\gjack\anaconda3\lib\site-packages (from rsa<4.1,>=3.1.4->google-auth<2.0dev,>=1.11.0->google-cloud-storage>=1.18.0->firebase-admin) (0.4.8)

In [3]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import db
from firebase_admin import firestore

cred = credentials.Certificate("CloudPaths/fir-classification-firebase-adminsdk-6635n-0f55bc991e.json")
firebase_admin.initialize_app(cred)

In [13]:
#### upload to realtime db only - not for firestore  ####
ref = db.reference(url ="https://fir-classification.firebaseio.com/OdysseeTable/opvEPyUDXUpIEn7fvaKE")
ref.push(str(game_df.to_dict()))

### Upload to Cloud Firestore

In [12]:
db = firestore.client()

In [26]:
# create list of records in json format
doc_list = game_df.to_dict(orient="records")

In [27]:
# upload each row
item_no = 0
for doc in doc_list:
    item=u"item"+str(item_no)
    doc_ref = db.collection(u'OdysseeTable').document(item)
    doc_ref.set(doc)
    item_no+=1

In [41]:
game_df[game_df["HuntName"].str.contains("California")]["HuntName"].tolist()

['California buckeye',
 'Californian Poppy',
 'California black oak',
 'California nutmeg']

### Upload achievements table

In [9]:
ach_df = pd.read_csv(r"Achievements\achievements.csv")

In [10]:
ach_df.head()

,ItemCombo,Total,AchievementName,AchievementText,Image
0,"{'Incense cedar','Prickly ponderosa'}",2,Miwok Home Maker,Bark-covered homes were used by Miwok people l...,gs://fir-classification.appspot.com/Achievemen...
1,"{'Yosemite Falls','Bridalveil Falls'}",2,Liquid Life,"For native cultures, water retains an honored ...",gs://fir-classification.appspot.com/Achievemen...
2,"{'Oregon Maple', \n'California buckeye', \n'Pa...",3,Firestarter,"You found 3 hardwoods. Per square inch, they c...",gs://fir-classification.appspot.com/Achievemen...
3,"{'California buckeye','Californian Poppy','Cal...",2,Mamas and the Papas,California Dreamin'\n\nYou found two or more s...,gs://fir-classification.appspot.com/Achievemen...
4,"{'California black oak','Valley oak'}",2,Dinner is Served,More than half of the Yosemite Native American...,gs://fir-classification.appspot.com/Achievemen...

In [49]:
# upload each row
doc_list = ach_df.to_dict(orient="records")
item_no = 0
for doc in doc_list:
    item=u"item"+str(item_no)
    doc_ref = db.collection(u'AchievementTable').document(item)
    doc_ref.set(doc)
    item_no+=1

### Upload zones table

In [7]:
# need to run for firebase push
# db = firestore.client()
zones_df = pd.read_csv("zones_table.csv")

In [8]:
zones_df.head()

,Zone,Min Elevation,Max Elevation,Description
0,Foothills,1800,3000,The lowest elevations in the park. An area tha...
1,Lower Montane,3000,6000,"The hot, dry summers and cool, moist winters o..."
2,Upper Montane,6000,8000,"The montane climate is characterized by short,..."
3,Sub-Alpine,8000,9500,The climate is cool with an even shorter growi...
4,Alpine,9500,13200,Easily distinguished as it is above tree line....

In [14]:
# upload each row
doc_list = zones_df.to_dict(orient="records")
item_no = 0
for doc in doc_list:
    item=u"item"+str(item_no)
    doc_ref = db.collection(u'EcoZones').document(item)
    doc_ref.set(doc)
    item_no+=1